{{- $choices := list "home" "work" -}}
{{- $machine := promptChoiceOnce . "machine" "What machine are you installing on?" $choices -}}
{{- $email := promptString "Please enter your email (git config)" -}}
[data]
    machine = {{ $machine | quote }}
    email = {{ $email | quote }}

