{{- if eq .machine "home" }}
[".claude"]
    type = "git-repo"
    url = "git@github.com:hellosmithy/claude-config.git"
    refreshPeriod = "168h"
    [".claude".pull]
        args = ["--ff-only"]
{{- end }}
