brew "curl"
brew "direnv"
brew "fd"
brew "fnm"
brew "fzf"
brew "ghq"
brew "git"
brew "jq"
brew "jesseduffield/lazygit/lazygit"
brew "just"
brew "lsd"
brew "mise"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "tree"
brew "uv"
brew "wget"
brew "wxwidgets"
brew "yamlfmt"

cask "bruno"
cask "kitty"
cask "obsidian"
cask "visual-studio-code"

{{ if eq .machine "home" }}
brew "ffmpeg"
brew "imagemagick"

cask "alfred"
cask "chatgpt"
cask "citrix-workspace"
cask "claude"
cask "claude-code"
cask "dash"
cask "ddpm"
cask "discord"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "keymapp"
cask "msty"
cask "notion"
cask "ollama-app"
cask "tableplus"
cask "todoist-app"
{{ end }}
