brew "asdf"
brew "curl"
brew "fd"
brew "fnm"
brew "fzf"
brew "ghq"
brew "git"
brew "jq"
brew "jesseduffield/lazygit/lazygit"
brew "lsd"
brew "neovim"
brew "ripgrep"
brew "starship"
brew "tmux"
brew "tree"
brew "wget"

cask "alacritty"
cask "bruno"
cask "kitty"
cask "obsidian"

{{ if eq .machine "home" }}
brew "imagemagick"

cask "alfred"
cask "brave-browser"
cask "chatgpt"
cask "ddpm"
cask "discord"
cask "docker"
cask "keymapp"
cask "notion"
cask "tableplus"
{{ end }}
