[user]
  name = {{ .name }}
  email = {{ .email }}

[init]
{{ if eq .machine "work" -}}
  defaultBranch = master
{{ else }}
  defaultBranch = main
{{ end }}

[alias]
  a = add
  c = commit
  cm = commit -m
  co = checkout
  st = status
  p = pull
  P = push
  r = rebase
  rm = "!f() { branch=$(git symbolic-ref refs/remotes/origin/HEAD 2>/dev/null | sed 's@^refs/remotes/origin/@@'); git rebase ${branch:-master}; }; f"
  undo-commit = reset --soft HEAD^

{{ if eq .machine "work" -}}
[url "https://github.com/"]
  insteadof = git@github.com:
[credential]
  helper = osxkeychain
[http]
  sslCAInfo = {{ .certs }}

{{ end -}}
