[user]
  name = {{ .name }}
  email = {{ .email }}

[alias]
  a = add
  c = commit
  cm = commit -m
  co = checkout
  st = status
  p = pull
  P = push
  r = rebase
  undo-commit = reset --soft HEAD^

{{ if eq .machine "work" -}}
[url "https://github.com/"]
  insteadof = git@github.com:
[credential]
  helper = osxkeychain
[http]
  sslCAInfo = {{ .certs }}
{{- end -}}

