{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

echo "✨ Configuring ASDF..."

while read plugin version
do
  if [[ -z "$plugin" ]]; then
    continue
  fi
  if asdf plugin list | grep --silent $plugin; then
    echo "✨ Updating $plugin..."
    asdf plugin update $plugin   
  else
    echo "✨ Installing $plugin..."
    asdf plugin add $plugin
  fi

  asdf install $plugin $version
  asdf global $plugin $version
  asdf reshim $plugin

done < ~/.tool-versions

{{ end -}}